.blue{
    height: 290px;
	-webkit-border-radius: 150px 150px 150px 150px;
	border-radius: 150px 150px 150px 150px;
 
    background: rgb(116, 176, 235);
	clip-path: polygon(0 0, 50% 0, 50% 50%, 0 50%);
	width: 300px;
    position: absolute;
	cursor: pointer;
  
}
.blue:hover{
	filter: brightness(80%);
}

.active{
	filter: brightness(80%);
}

.not_active{
	filter: brightness(100%);
}

@media (max-width: 600px){
	.blue{
		height: 190px;
		width: 200px;
	  
	}
}
